@import "styles";

@mixin _side-content-styling() {
  display: flex;
    flex-direction: column;
    align-items: center;
  width: 200px;
}

:host {
  > footer {
    @include border-top($width: 5px);
    display: flex;
      justify-content: space-between;
    padding: $spacing-base * .5 $spacing-base * .5 $spacing-base;

    > section {
      padding-top: $spacing-base * .5;
    }
  }
}

#copyright {
  @include border-right;
  padding-right: 1em;

  > main {
    @include _side-content-styling;
  }
}

#useful-links {
  display: flex;
    flex-direction: column;
    row-gap: .75em;
    flex-grow: 1;

  > header {
    @include border-bottom;
    @include font-size-bigger;
    align-self: center;
    padding-bottom: 0.25em;
    text-align: center;
    width: 10rem;
  }
  > main {
    padding: 0 $spacing-base $spacing-base * .5;

    nav {
      a {
        @include link_hover_pilled;
      }
    }
  }
}

#contributions {
  @include _side-content-styling;
    row-gap: 0.75em;
  @include border-left;
  padding-left: 1em;

  > footer {
    @include font-size-smaller;
    a {
      @include link_dual_colors;
    }
  }
}
