<mat-card>
    <mat-card-header>
        <div class="module-header">
            <span class="module-name">{{ module.name }}</span>
            <span class="module-promotion">{{ module.promotion }}</span>
        </div>
    </mat-card-header>
    <div class="sub-header" *ngIf="module.nextSession">
        Prochaine session le : {{ module.nextSession.label }}.
    </div>

    <mat-card-content>
        <div>
            <div class="card-action-title">
                <strong>Évaluations</strong>

                <div class="actions">
                    <button
                        mat-mini-fab
                        color="primary"
                        aria-label="Bouton d'ajout d'évaluation"
                        title="Ajouter une évaluation."
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
            <ng-template [ngIf]="module.assessments.length > 0" [ngIfElse]="elseNoAssessments">
                <app-personal-modules-list-card-assessments [assessments]="module.assessments">
                </app-personal-modules-list-card-assessments>
            </ng-template>
            <ng-template #elseNoAssessments>
                <div class="no-elements">Aucune évaluation programmée pour le module.</div>
            </ng-template>
        </div>

        <div>
            <strong>Séances</strong>
            <ng-template [ngIf]="module.sessions.length > 0" [ngIfElse]="elseNoSessions">
                <div class="module-sessions">
                    <ng-template ngFor let-session [ngForOf]="module.sessions">
                        <app-personal-modules-list-card-session [session]="session">
                        </app-personal-modules-list-card-session>
                    </ng-template>
                </div>
            </ng-template>
            <ng-template #elseNoSessions>
                <div class="no-elements">Aucune séance programmée pour le module.</div>
            </ng-template>
        </div>
    </mat-card-content>
</mat-card>
