@import "styles";

mat-card-header {
  .module-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .module-name {
      @extend %font-size-bigger;
    }

    .module-promotion {
      color: $color-grey;
      text-shadow: 0 0 1px $color-primary;
    }
  }
}

.sub-header {
  @extend %font-size-smaller;
  text-align: center;
}

mat-card-content {
  margin-top: 1em;
}
