@import "styles";

:host {
  > section {
    margin: $spacing-base 0;
  }
}

#module-list {
  display: flex;
    justify-content: center;
    gap: $spacing-base * .5;
    flex-wrap: wrap;

  > article {
    width: 600px;
  }
}
