@import "styles";

:host {
  > section {
    margin: $spacing-base 0;
  }
}

#module-list {
  display: flex;
    justify-content: center;

  [ngxMasonryItem] {
    margin-bottom: 15px;
    width: 540px;
  }
}
