@import "styles";

:host {
  > header {
    @include border-top($width: 5px);
    @include border-bottom;
    display: flex;
      justify-content: space-between;
    padding: $spacing-base * .5;
  }
}

#header-logo {
  display: flex;

  > a {
    @extend %link-dual-colors;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    > span {
      display: block;
    }
  }
}

#header-title {
  @extend %font-size-bigger;
}
