/* region    # Background color */
@mixin background-color() {
  background-color: $color-background;
}
/* endregion # Background color */

/* region    # Border */
@mixin border($width: 1px, $color: $color-primary) {
  border: $width solid $color;
}

@mixin border-top($width: 1px, $color: $color-primary) {
  @include _single-border($position: top, $width: $width, $color: $color)
}
@mixin border-right($width: 1px, $color: $color-primary) {
  @include _single-border($position: right, $width: $width, $color: $color)
}
@mixin border-bottom($width: 1px, $color: $color-primary) {
  @include _single-border($position: bottom, $width: $width, $color: $color)
}
@mixin border-left($width: 1px, $color: $color-primary) {
  @include _single-border($position: left, $width: $width, $color: $color)
}

// ## Internal mixins
@mixin _single-border($position, $width: 1px, $color: $color-primary) {
  border-#{$position}: $width solid $color;
}
/* endregion # Border */

/* region    # Font size */
@mixin font-size-bigger() {
  font-size: 1.15em;
}
@mixin font-size-smaller() {
  font-size: 0.85em;
}
/* endregion # Font size */
